main {
    font-family: "Montserrat", sans-serif;
}
input {
    outline: none;
}
/* ////////////// WELCOME PAGE ///////////////////// */

#welcomeHeading {
    display: inline-block;
    margin-left: 15px;
    font-size: 35px;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-weight: 300;
}
.welcomeHeading {
    color: black;
    text-decoration: none;
}

/* ///////////////// NAV BAR ///////////////////////// */
#navBar {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.nav {
    margin: 30px;
    cursor: pointer;
}
#navLinks {
    position: absolute;
    right: 20px;
    top: 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#navLinks a {
    text-decoration: none;
    color: inherit;
}

#navLinks a:visited {
    text-decoration: none;
    color: inherit;
}

.logoutButton {
    border: 1px solid black;
    padding: 10px 15px;
    text-decoration: none;
}
.logoutButton:hover {
    background: grey;
    color: white;
    cursor: pointer;
    /* text-decoration: underline; */
}

#registrationButton {
    border: 1px solid black;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 20px;
}
#registrationButton:hover {
    background: grey;
    color: white;
    cursor: pointer;
    /* text-decoration: underline; */
}

#loginButton {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 28px;
    height: 30px;
    width: 70px;
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    text-decoration: none;
}
#loginButton:hover {
    background: grey;
    color: white;
    cursor: pointer;
    /* text-decoration: underline; */
}

.addEventNav {
    border: 1px solid black;
    padding: 10px;
    width: 120px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.addEventNav:hover {
    text-decoration: none;
    background: grey;
    color: white;
}
#searchBar {
    width: 250px;
    outline: none;
}
#searchDiv {
    z-index: 1000;
}
.searchResults {
    width: 250px;
    background-color: white;
    font-size: 12px;
    z-index: 100000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.searchPhoto {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    object-fit: cover;
    object-position: center;
}
.eachSearchResult {
    height: 50px;
    background-color: white;
}

/* /////////////REGISTRATION PAGE ////////////////// */
#registrationPage input {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 150px;
    height: 25px;
    text-align: center;
}

#registrationPage {
    border: 1px solid black;
    width: 500px;
    height: 450px;
    position: absolute;

    left: calc(50% - 250px);
    text-align: center;
    top: 100px;
    font-weight: 300;
    padding-top: 30px;
}
.headline {
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
#registrationButton {
    border: 1px solid black;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 20px;
}
#registrationButton:hover {
    background: grey;
    color: white;
    cursor: pointer;
    /* text-decoration: underline; */
}

/* /////////////////GUEST EVENTS ////////////////////// */
.guestEventView {
    margin-top: 50px;
}
/* ///////////////// LOGIN DIV /////////////////////// */

.loginDiv input {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    text-align: center;
}

.loginDiv {
    border: 1px solid black;
    width: 500px;
    height: 400px;
    position: absolute;
    left: calc(50% - 250px);
    top: 100px;
    text-align: center;
    padding-top: 50px;
}
#submitButton {
    border: 1px solid black;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 20px;
}
#submitButton:hover {
    background: grey;
    color: white;
    cursor: pointer;
    /* text-decoration: underline; */
}

/* /////////////// ABOUT DIV ///////////////////////// */
#aboutDiv {
    border: 1px solid black;
    height: 400px;
    width: 500px;
    position: absolute;
    top: 100px;
    left: 20px;
    text-align: center;
}

/* ////////////////ADD EVENT PAGE //////////////////// */
.addEvent {
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
.addEvent h3 {
    text-align: center;
}
.addEvent input {
    height: 30px;
    width: 150px;
    outline: none;
    margin-left: 15px;
    margin-bottom: 15px;
}
.addEvent select {
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin-left: 15px;
    outline: none;
}
.dateRange input {
    /* display: block; */
    text-align: center;
    margin-bottom: 5px;
}
.dateRange {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.newDate {
    display: block;
}

.notes {
    /* visibility: hidden; */
    display: none;
    outline: none;
}

.addNotes {
    border: 1px solid black;
    width: 150px;
    padding: 3px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
.requiredStar {
    color: red;
}

/* /////////////////// EVENT PAGE //////////////////// */
.nameLink {
    text-decoration: none;
    color: black;
}

.nameLink:hover {
    color: red;
    cursor: pointer;
    transform: scale(1.1);
}
.eventsPageComponent {
    position: relative;
    top: 20px;
}
.eventList {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
}
.eachEvent {
    display: flex;
    height: 70px;
    border-bottom: 1px solid black;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.addEventButton {
    border: 1px solid black;
    padding: 10px;
    width: 120px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.addEventButton:hover {
    text-decoration: none;
    background: grey;
    color: white;
}

#calMonth {
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}
#navMonth {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#calPrev {
}
#calNext {
}
.eventCalendar {
    /* float: right; */
    position: absolute;
    top: 10px;
    right: 30px;
    /* border: 1px solid black; */
}
.calendarContainer td:hover {
    color: red;
    cursor: pointer;
    transform: scale(1.5);
}

.citySelect {
    text-align: center;
}

.citySelect select {
    display: block;
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100px;
    color: black;
    width: 150px;
    height: 40px;
    font-size: 15px;
    background-color: white;
    outline: none;
}

.citySelect option {
    display: block;
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: white;
}
.citiesIn {
    text-align: center;
}

.eventsInName:hover {
    cursor: pointer;
}
.eventDate {
    margin-right: 20px;
    font-size: 20px;
}
.eventArtist {
    margin-left: 10px;
}
#addEventButton {
    border: 1px solid black;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 20px;
}
#addEventButton:hover {
    background: grey;
    color: white;
    cursor: pointer;
    /* text-decoration: underline; */
}

/* ///////////////// EDIT EVENT PAGE ////////////////////// */
#editEventButton {
    border: 1px solid black;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 20px;
}
#editEventButton:hover {
    background: grey;
    color: white;
    cursor: pointer;
    /* text-decoration: underline; */
}

.editEvent {
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
.editEvent h3 {
    text-align: center;
}
.editEvent input {
    height: 30px;
    width: 150px;
    outline: none;
    margin-left: 15px;
    margin-bottom: 15px;
}
.editEvent select {
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

/* /////////////// SINGLE EVENT PAGE /////////////////// */
.singleEventDiv img {
    max-width: 400px;
    position: absolute;
    top: 100px;
    right: 50px;
}
.singleEventDatesDiv {
    /* border: 1px solid black; */
    max-width: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.singleDate {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    /* height: 75px;
    width: 150px; */
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}
.singleDateGuest {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    /* height: 75px;
    width: 150px; */
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
}

.interestedButton {
    display: block;
    font-size: 12px;

    color: black;
    border: 1px solid black;
    padding: 5px 15px;
    text-decoration: none;
    margin-bottom: 3px;
    margin-left: 20px;
}
.interestedButton:hover {
    background: grey;
    color: white;
    cursor: pointer;
    /* text-decoration: underline; */
}
.interestedButton:active {
    background: grey;
    color: white;
    cursor: pointer;
    border: 1px solid red;
}
.eachDate {
    float: left;
}

.eventInfo {
    margin-bottom: 20px;
}
.detailDiv {
    margin-top: 75px;
    margin-left: 20px;
    width: 500px;
}
.singleEventTitle {
    margin-left: 20px;
}

/* ////////////// USER PROFILE /////////////////// */
.userProfileDiv {
    /* border-bottom: 1px solid black; */
    /* height: 200px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profilePicDiv {
    float: right;
    /* max-width: 200px; */
    /* max-height: 200px; */
}
.profilePicDiv img {
    /* max-height: 200px; */
}
.headlineProfile {
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
/* ///////////////// USER ADDED EVENTS //////////////// */
.userEventsDiv {
    margin-top: 20px;
}
.userEventsContainer {
    /* width: 49%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.usersEvent {
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    align-content: space-around;
}
.userAddedPhoto {
    height: 100px;

    object-fit: cover;
    object-position: center;
    max-width: 200px;
    margin-bottom: 10px;
    /* float: left; */
    /* clear: both; */
}
.userEditButtons {
    display: inline-block;
    font-size: 12px;

    color: black;
    border: 1px solid black;
    padding: 5px 15px;
    text-decoration: none;
    margin-bottom: 3px;
}
.userEditButtons:hover {
    background: grey;
    color: white;
    cursor: pointer;
    /* text-decoration: underline; */
}
.imageButton.userEditButtons {
    padding: 1px 15px;
}

/* ///////////// EVENTS INTERESTED IN /////////////// */
.interestedEventsDiv {
    margin-top: 20px;
}
.interestedContainer {
    /* width: 49%; */
    /* float: right; */

    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.eachInterestedEvent {
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.likedEventPhoto {
    height: 100px;
}
.profileComponentsContainer {
    display: flex;
    flex-direction: row;
}
#myOwnEvents {
    display: inline-block;
    width: 45%;
    /* float: left; */
}

#myInterestedEvents {
    display: inline-block;
    width: 45%;
    position: relative;
    top: 0;
}
/* ///////////////////// APP COMPONENT ///////////////// */
#featuredEvents {
    text-align: center;
    font-style: italic;
}

/* ///////////////////// CAROUSEL ////////////////////*/
#carouselContainer {
    position: relative;
    overflow: hidden;
    height: 600px;
    box-sizing: border-box;
}

.plays {
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    transition-property: transform;
    transform: translateX(100%);
    transition-duration: 0s;
}

.plays img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.plays.onscreen {
    transform: translateX(0);
    transition-duration: 1s;
}

.plays.exit {
    transform: translateX(-100%);
    transition-duration: 1s;
}

#dots {
    position: absolute;
    text-align: center;
    bottom: 30px;
    width: 100%;
}

.dot {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}

.active {
    background: white;
}

.titleofplay {
    width: 500px;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50px;
    left: calc(50% - 250px);
    z-index: 100;
    text-align: center;
    margin: 0 auto;
    text-decoration: inherit;
    font-style: italic;
}
.carouselArtist {
    font-weight: 300;
}

.hideButton {
    display: none;
}

#imageUploader {
    width: 500px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    padding: 50px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    /* font-size: 12px */
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    text-decoration: none;
    margin-bottom: 3px;

    /* font-weight: 300; */

    /* background-color: black; */
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: gray;
    color: white;
}
/* //////////////// ADD DATES /////////////// */
.addDatesDiv {
    width: 500px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}
.dateAdd {
    border: 1px solid black;
    width: 400px;
    display: none;
    /* visibility: hidden; */
    margin: 0 auto;
}
.dateAdd input {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.addDateButton {
    border: 1px solid black;
    max-width: 250px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
.editDatesButtons {
    display: inline-block;
    font-size: 12px;

    color: black;
    border: 1px solid black;
    padding: 5px 15px;
    text-decoration: none;
    margin-bottom: 5px;
    margin-left: 10px;
}
.editDatesButtons:hover {
    background: grey;
    color: white;
    cursor: pointer;
    /* text-decoration: underline; */
}
