/* ////////////// WELCOME PAGE ///////////////////// */

#welcomeHeading {
    display: inline-block;
    margin-left: 15px;
    font-size: 35px;
    margin-top: 10px;
    color: black;
}
/* ///////////////// NAV BAR ///////////////////////// */
#navBar {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.nav {
    margin: 30px;
    cursor: pointer;
}
#navLinks {
    position: absolute;
    right: 20px;
    top: 28px;
}

#navLinks a {
    text-decoration: none;
    color: inherit;
}

#navLinks a:visited {
    text-decoration: none;
    color: inherit;
}

.logoutButton {
    border: 1px solid black;
    padding: 10px 15px;
    text-decoration: none;
}
.logoutButton:hover {
    background: grey;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

#loginButton {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 28px;
    height: 30px;
    width: 70px;
}

/* /////////////REGISTRATION PAGE ////////////////// */
#registrationPage input {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

#registrationPage {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 100px;
}

/* ///////////////// LOGIN DIV /////////////////////// */

.loginDiv input {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.loginDiv {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    position: absolute;
    right: 20px;
    top: 100px;
    text-align: center;
}

/* /////////////// ABOUT DIV ///////////////////////// */
#aboutDiv {
    border: 1px solid black;
    height: 400px;
    width: 500px;
    position: absolute;
    top: 100px;
    left: 20px;
    text-align: center;
}

/* ////////////////ADD EVENT PAGE //////////////////// */
.addEvent {
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.addEvent h3 {
    text-align: center;
}
.addEvent input {
    height: 30px;
    width: 150px;
    outline: none;
    margin-left: 15px;
    margin-bottom: 15px;
}
.addEvent select {
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin-left: 15px;
}
.dateRange input {
    /* display: block; */
    text-align: center;
    margin-bottom: 5px;
}
.dateRange {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.addDateButton {
    border: 1px solid black;
    width: 150px;
    padding: 3px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
.newDate {
    display: block;
}

.notes {
    /* visibility: hidden; */
    display: none;
    outline: none;
}

.addNotes {
    border: 1px solid black;
    width: 150px;
    padding: 3px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
.requiredStar {
    color: red;
}

/* /////////////////// EVENT PAGE //////////////////// */
.eventList {
    width: 700px;
    margin: 0 auto;
}
.eachEvent {
    height: 40px;
    border-bottom: 1px solid black;
}
.addEventButton {
    border: 1px solid black;
    padding: 10px;
    width: 120px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.addEventButton:hover {
    text-decoration: none;
    background: grey;
    color: white;
}

.dateAdd {
    border: 1px solid black;
    width: 400px;
    visibility: hidden;
}
.dateAdd input {
    display: block;
}

.eventCalendar {
    float: right;
}
.citySelect {
    text-align: center;
}
.citySelect select {
    display: block;
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* ///////////////// EDIT EVENT PAGE ////////////////////// */

.editEvent {
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.editEvent h3 {
    text-align: center;
}
.editEvent input {
    height: 30px;
    width: 150px;
    outline: none;
    margin-left: 15px;
    margin-bottom: 15px;
}
.editEvent select {
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin-left: 15px;
}

/* ///////////////// USER ADDED EVENTS //////////////// */
.userEventsComponent {
    /* width: 49%; */
}
.usersEvent {
    border: 1px solid black;
}

/* /////////////// SINGLE EVENT PAGE /////////////////// */
.singleEventDiv img {
    max-width: 400px;
    float: right;
}
.singleEventDates {
    border: 1px solid black;
}

/* ////////////// USER PROFILE /////////////////// */
.userProfileDiv {
    border-bottom: 1px solid black;
    height: 300px;
}
.profilePicDiv {
    float: right;
    /* max-width: 200px; */
    max-height: 200px;
}
.profilePicDiv img {
    max-height: 200px;
}

/* ///////////// EVENTS INTERESTED IN /////////////// */
.interestedEventsDiv {
    /* width: 49%; */
    /* float: right; */
    border: 1px solid black;
    position: relative;
    top: 0;
}
.profileComponentsContainer {
    display: flex;
    flex-direction: row;
}
#myOwnEvents {
    display: inline-block;
    width: 50%;
    /* float: left; */
}

#myInterestedEvents {
    display: inline-block;
    width: 50%;
    position: relative;
    top: 0;
}
/* ///////////////////// APP COMPONENT ///////////////// */
#featuredEvents {
    text-align: center;
    font-style: italic;
}

/* ///////////////////// CAROUSEL ////////////////////*/
#carouselContainer {
    position: relative;
    overflow: hidden;
    height: 600px;
    box-sizing: border-box;
}

.plays {
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    transition-property: transform;
    transform: translateX(100%);
    transition-duration: 0s;
}

.plays img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.plays.onscreen {
    transform: translateX(0);
    transition-duration: 1s;
}

.plays.exit {
    transform: translateX(-100%);
    transition-duration: 1s;
}

#dots {
    position: absolute;
    text-align: center;
    bottom: 30px;
    width: 100%;
}

.dot {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}

.active {
    background: white;
}

.titleofplay {
    width: 500px;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 70px;
    left: calc(50% - 250px);
    z-index: 100;
    text-align: center;
    margin: 0 auto;
    text-decoration: inherit;
    font-style: italic;
}
